.scroll{
	width: 2400px;
	height: 850px;
	display: flex;
	overflow-x:scroll;
	border: 2px solid rgb(56, 206, 229);
}

.waku{
   width: 4000px;
   display: flex;
}

#tool {
   /* ★疑問 角丸変更できない */
   border-style: solid;
   border-width: 2px;
       /* border: 100px solid #f00; */
   /* border-radius: 90%; */
   width: 1250px;
   height: 800px;
   padding: 10px 20px 10px 20px;
   margin: 5px;
   border-color: #bed5ea;
   background-color: #e82a08;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO; 
   display: flex;
	 box-shadow: 10px 10px 10px rgba(0,0,0,0.3);         
}

#circle {
   display: flex;
}

#circleFlash {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 50px;
   height: 50px;
   margin: 15px;
   border-color: #bed5ea;
   background-color: #19a5e6;
}

#circle1 {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 20px;
   height: 20px;
   margin: 15px 5px 5px 5px;
   border-color: #bed5ea;
   background-color: #0a0909;
}

#circle2 {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 20px;
   height: 20px;
   margin: 15px 5px 5px 5px;
   border-color: #bed5ea;
   background-color: #d8e33c;
}

#circle3 {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 20px;
   height: 20px;
   margin: 15px 5px 5px 5px;
   border-color: #bed5ea;
   background-color: #0a0909;
}

#pokePicInfomation {
   display: flex;
}

/* #infomation {
//
} */

#pokePic {
   /* ★疑問 角丸変更できない */
   border-style: solid;
   border-width: 2px;
       /* border: 100px solid #f00; */
   /* border-radius: 90%; */
   width: 300px;
   height: 370px;
   padding: 10px;
   margin: 5px;
   border-color: #bed5ea;
   background:radial-gradient(#f0f3f6, #0baeea); 
   /* background-color: #b6dbf8; */
   color: #f0f3f6;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeImg {
   /* ★疑問 角丸変更できない */
   border-style: solid;
   border-width: 2px;
       /* border: 100px solid #f00; */
   /* border-radius: 90%; */
   width: 300px;
   /* height: 350px; */
   /* padding: 10px;
   margin: 5px;
   border-color: #bed5ea;
   background-color: #b6dbf8;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;     */
}


#pokeNameTitle {
   border-style: solid;
   border-width: 2px;
   width: 130px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   color: #f0bbe6;
	 font-weight: bold;
   text-align: center;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;
	 background:radial-gradient(#fc1bb9, rgb(246, 116, 207)); 
	 /*--水平方向 垂直方向 影のぼかし 色--*/
	 box-shadow: 10px 10px 10px rgba(0,0,0,0.3); 
}

#pokeName {
   border-style: solid;
   border-width: 2px;
   width: 300px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   margin-bottom: 23px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background:radial-gradient(#01080e, #022b41); 
   color: #83d7ef;
   /* background-color: #ebf0e4;
   color: #5235c2; */
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeTypeTitle {
   border-style: solid;
   border-width: 2px;
   width: 130px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   color: #f0bbe6;
	 font-weight: bold;
   /* background-color: #e8f8d3;
   color: #5235c2; */
   text-align: center;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;
	 background:radial-gradient(#fc1bb9, rgb(246, 116, 207)); 
	 /*--水平方向 垂直方向 影のぼかし 色--*/
	 box-shadow: 10px 10px 10px rgba(0,0,0,0.3);     
}

#pokeType {
   border-style: solid;
   border-width: 2px;
   width: 300px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   margin-bottom: 23px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background:radial-gradient(#01080e, #022b41); 
   color: #83d7ef;
   /* background-color: #ebf0e4;
   color: #5235c2; */
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

.hight {
   display: flex;
}

#pokeHightTitle {
   border-style: solid;
   border-width: 2px;
   width: 130px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   color: #f0bbe6;
	 font-weight: bold;
   /* background-color: #e8f8d3;
   color: #5235c2; */
   text-align: center;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;
	 background:radial-gradient(#fc1bb9, rgb(246, 116, 207)); 
	 /*--水平方向 垂直方向 影のぼかし 色--*/
	 box-shadow: 10px 10px 10px rgba(0,0,0,0.3);     
}

#pokeHight {
   border-style: solid;
   border-width: 2px;
   width: 143px;
   height: 30px;
   padding: 10px;
   margin: 5px 5px 5px 0;
   margin-bottom: 15px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background:radial-gradient(#01080e, #022b41); 
   color: #83d7ef;
   /* background-color: #ebf0e4;
   color: #5235c2; */
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

.weight {
   display: flex;
}

#pokeWeightTitle {
   border-style: solid;
   border-width: 2px;
   width: 130px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   color: #f0bbe6;
	 font-weight: bold;
   /* background-color: #e8f8d3;
   color: #5235c2; */
   text-align: center;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO; 
	 background:radial-gradient(#fc1bb9, rgb(246, 116, 207)); 
	 /*--水平方向 垂直方向 影のぼかし 色--*/
	 box-shadow: 10px 10px 10px rgba(0,0,0,0.3);    
}

#pokeWeight {
   border-style: solid;
   border-width: 2px;
   width: 143px;
   height: 30px;
   padding: 10px;
   margin: 5px 5px 5px 0;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background:radial-gradient(#01080e, #022b41); 
   color: #83d7ef;
   /* background-color: #ebf0e4;
   color: #5235c2; */
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeExpTitle {
   border-style: solid;
   border-width: 2px;
   width: 150px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   color: #f0bbe6;
	 font-weight: bold;
   /* background-color: #e8f8d3;
   color: #5235c2; */
   text-align: center;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO; 
	 background:radial-gradient(#fc1bb9, rgb(246, 116, 207)); 
	 /*--水平方向 垂直方向 影のぼかし 色--*/
	 box-shadow: 10px 10px 10px rgba(0,0,0,0.3);    
}

#pokeExp {
   border-style: solid;
   border-width: 2px;
   width: 632px;
   height: 210px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background:radial-gradient(#01080e, #022b41); 
   color: #83d7ef;
	 /* color: #a8d4ff; */
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;
   overflow-y:scroll;
   /* https://magazine.techacademy.jp/magazine/27523    */
}

.hinge {
   border-style: solid;
   border-width: 2px;
       /* border: 100px solid #f00; */
   width: 20px;
   height: 790px;
   /* padding: 10px; */
   margin-left: 15px;
   margin-right: 15px;
   border-color: #bed5ea;
   background-color: #e82a08; 
	 /*--水平方向 垂直方向 影のぼかし 色--*/
	 box-shadow: 10px 10px 10px rgba(0,0,0,0.3);      
}

#hinge1 {
   border-style: solid;
   border-width: 2px;
   width: 16px;
   height: 5px;
   /* color: rgb(250, 238, 238); */
   margin-top: 200px;
   border-color: #bed5ea;
   background-color: #e82a08;
	 box-shadow: 10px 10px 10px rgba(0,0,0,0.3);      
    
}

#hinge2 {
   border-style: solid;
   border-width: 2px;
   width: 16px;
   height: 5px;
   /* color: rgb(250, 238, 238); */
   margin-top: 400px;
   border-color: #bed5ea;
   background-color: #e82a08;
	 box-shadow: 10px 10px 10px rgba(0,0,0,0.3);        
}

#pokeSelect {
   border-style: solid;
   border-width: 2px;
   width: 400px;
   height: 70px;
   padding: 10px;
   margin-top: 90px;
   margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background:radial-gradient(#01080e, #022b41); 
   color: #83d7ef;
   /* background-color: #eef1ea;
   color: #5235c2; */
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

/* pokeSearch設定 ************** */
#pokeSearch{
      /*テキストの基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
   /* border: 1px solid #555; */
	border-style: solid;
	border-width: 2px;
	border-radius:3px;
	border-color: #F0F8FF;
	min-width:92px;
	height: 70px;
	margin: 0px 5px 5px 5px; 
	/* padding: 10px; */
	text-align: center;
	display: inline-block;
  text-decoration: none;
  color: #5235c2;
	font-size: 20px;
	font-weight: bold;
  background:radial-gradient(#F0F8FF, #fc1bb9); 
  /* background-color: #96d4fb; */
  outline: none;
  /*アニメーションの指定*/
  transition: all .1s;

  /*--水平方向 垂直方向 影のぼかし 色--*/
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3); 
}

/* ★何故か効かない */
#pokeSearch span{
   /*絶対配置でテキストの位置を決める*/
  position: absolute;
  left: 50%;
  top:50%;
   transform:translate(-50%,-50%);
   /*アニメーションの指定*/
   transition: all .5s;
 /*ブロック要素にしてテキスト折り返しなし*/  
  display: block;
  white-space: nowrap;
}

/*差し替わるテキストの設定*/
#pokeSearch span:nth-child(2){
  opacity:0;/*透過0に*/
}

/*hoverするとテキストが入れ替わる設定*/
#pokeSearch:hover span:nth-child(1){
  opacity:0;/*透過0に*/
}

#pokeSearch:hover span:nth-child(2){
  opacity:1;/*不透明に*/
}

/* pokeSearch設定 以上******************* */

.blueButtons1_5 {
   display: flex;
   margin-top: 20px;
}

.blueButtons6_10 {
   display: flex;
   margin-bottom: 20px;
}

/* button1-10hover設定 ************** */
/*表示するテキストが切り替わる*/
.btntextchange{
    /*テキストの基点とするためrelativeを指定*/
	position: relative;
    /*ボタンの形状*/
	/* border: 1px solid #555; */
   border-style: solid;
   border-width: 2px;
	border-radius:3px;
   border-color: #F0F8FF;
    min-width:70px;
   height: 60px;
   margin: 5px; 
	padding: 10px;
    text-align: center;
	display: inline-block;
    text-decoration: none;
    color: #5235c2;
    background:radial-gradient(#F0F8FF, #66ccff); 
    /* background-color: #96d4fb; */
    outline: none;
    /*アニメーションの指定*/
    transition: all .1s;

    /*--水平方向 垂直方向 影のぼかし 色--*/
	box-shadow: 10px 10px 10px rgba(0,0,0,0.3);  
}

/*hoverした際の変化*/
.btntextchange:hover{
   background:radial-gradient(#ea5c32, #eff539); 
  /* background:rgb(6, 46, 243); */
   color:#fff;
  	/*--水平方向 垂直方向 色--*/
	box-shadow: 0 0 10px rgba(221, 240, 12, 0);
}

.btntextchange span{
    /*絶対配置でテキストの位置を決める*/
	position: absolute;
	left: 50%;
	top:50%;
    transform:translate(-50%,-50%);
    /*アニメーションの指定*/
    transition: all .5s;
  /*ブロック要素にしてテキスト折り返しなし*/  
	display: block;
	white-space: nowrap;
}

/*差し替わるテキストの設定*/
.btntextchange span:nth-child(2){
	opacity:0;/*透過0に*/
}

/*hoverするとテキストが入れ替わる設定*/
.btntextchange:hover span:nth-child(1){
	opacity:0;/*透過0に*/
}

.btntextchange:hover span:nth-child(2){
	opacity:1;/*不透明に*/
}
/* button1-10hover設定 以上******************* */

/* ポケモンゲット用ボールを横並びに */
.ballBtn_ball {
   display: flex;
}

/* bollBtn設定ここから *****************************/
/*表示するテキストが切り替わる*/
.ballBtn{
   /*テキストの基点とするためrelativeを指定*/
  position: relative;
   /*ボタンの形状*/
  /* border: 1px solid #555; */
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  border-color: #F0F8FF;
   min-width:70px;
  height: 60px;
  margin-top: 290px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 10px;
   text-align: center;

  display: inline-block;
   text-decoration: none;
   color: #5235c2;
	 font-weight: bold;
	 background:radial-gradient(#F0F8FF, #fc1bb9); 
   outline: none;
   /*アニメーションの指定*/
   transition: all .1s;
	 /*--水平方向 垂直方向 影のぼかし 色--*/
	 box-shadow: 10px 10px 10px rgba(0,0,0,0.3); 
}

/*hoverした際の変化*/
.ballBtn:hover{
 background:rgb(6, 46, 243);
 color:#fff;
}

.ballBtn span{
   /*絶対配置でテキストの位置を決める*/
  position: absolute;
  left: 50%;
  top:50%;
   transform:translate(-50%,-50%);
   /*アニメーションの指定*/
   transition: all .5s;
 /*ブロック要素にしてテキスト折り返しなし*/  
  display: block;
  white-space: nowrap;
}

/*差し替わるテキストの設定*/
.ballBtn span:nth-child(2){
  opacity:0;/*透過0に*/
}

/*hoverするとテキストが入れ替わる設定*/
.ballBtn:hover span:nth-child(1){
  opacity:0;/*透過0に*/
}

.ballBtn:hover span:nth-child(2){
  opacity:1;/*不透明に*/
}
/* ballBtn以上******************************** */




/* ポケモンボール　モーション********* */
.ball{
   border-radius: 50%;
   margin: 0 auto;
	 box-shadow: 10px 10px 10px rgba(0,0,0,0.3);      
}

.move{
   animation: ballMove 5s;
   /* 最後停止ならばforwardsつける */
}

@keyframes ballMove {
   0%{
      transform: translate(0, 0);       
   }
   5%{
      transform: translate(0, 80px);
   }
   10%{
      transform: translate(0, 0);
   }
   15%{
      transform: translate(0, 80px);
   }
   20%{
      transform: translate(0, 0);
   }
   25%{
      transform: translate(0, 80px);
   }
   30%{
      transform: translate(0, 0);
   }
   35%{
      transform: translate(0, 80px);
   }
   40%{
      transform: translate(80px, 180px);
      transform: rotate(0deg);
   }
   45%{
      transform: translate(80px, 180px);
      transform: rotate(-360deg);
   }
   50%{
      transform: translate(-280px, -90px);
   }
   52%{
      transform: translate(-580px, -180px);
   }
   54%{
      transform: translate(-280px, -380px);
   }
   56%{
      transform: translate(-280px, -380px);
   }
   58%{
      transform: translate(-80px, -480px);
   }
   60%{
      transform: translate(80px, -580px);
      width: 400px;
      height: 400px;
   }
   62%{
      transform: translate(280px, -680px);
   }
   64%{
      transform: translate(480px, -580px);
      width: 300px;
      height: 300px;
   }
   66%{
      transform: translate(680px, -480px);
   }
   68%{
      transform: translate(780px, -380px);
      width: 200px;
      height: 200px;
   }
   70%{
      transform: translate(980px, -280px);
      width: 100px;
      height: 100px;
   }
   72%{
      transform: translate(980px, 100px);
      width: 100px;
      height: 100px;
   }
   77%{
      transform: translate(980px, -100px);
      width: 100px;
      height: 100px;
   }
   82%{
      transform: translate(980px, 100px);
      width: 100px;
      height: 100px;
   }
   87%{
      transform: translate(980px, -100px);
      width: 100px;
      height: 100px;
   }
   92%{
      transform: translate(980px, 100px);
      width: 100px;
      height: 100px;
   }
   94%{
      transform: translate(780px, 100px);
      width: 200px;
      height: 200px;
   }
   96%{
      transform: translate(580px, 100px);
      width: 300px;
      height: 300px;
   }
   98%{
      transform: translate(380px, 100px);
      width: 400px;
      height: 400px;
      transform: rotate(-720deg);
   }



}


  /* ここから skyMedow エリア ********************************** */

  .sky {
   /* border-style: solid;
   border-width: 2px; */
   width: 1000px;
   height: 500px;
   margin: 5px 5px 0px 10px;
   /* background:radial-gradient(#f0f3f6, #0baeea);  */
   /* border-color: #0baeea; */
   background: linear-gradient(to bottom, #0baeea, #FFF);
   /* background-color: #0baeea; */
  }

  .medow {
   /* border-style: solid;
   border-width: 2px; */
   width: 1000px;
   height: 320px;
   margin: 0px 5px 5px 10px;
   /* background:radial-gradient(#f0f3f6, #0baeea);  */
   /* border-color: #0baeea; */
   background: linear-gradient(to bottom, rgb(9, 113, 26), #43f055);

   /* background-color: #43f055; */
  }

  #pokeImg2 {
   width: 400px;
  }

  /* h2 {
   font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
   padding: 1rem 2rem;
   color: #fff;
   background: #000;
 } */
 
.pokemonGetComment {
   width: 250px;
   height: 65px;
   border-radius: 3px;
	 text-align: center;
   color: #000;
	 font-size: 20px;
	 font-weight: bold;
   /* font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif; */
   padding: 5px;
   margin-top: 100px;
   margin: 0px 5px 5px 650px;
   color: rgb(2, 51, 91);
   background: #000;
   background-image: -webkit-linear-gradient(315deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
   background-image: linear-gradient(135deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
   /* -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; */
 }

 #pokeGet {
	/* ★疑問 角丸変更できない */
	/* opacity: 0; */
	/* border-style: solid;
	border-width: 2px; */
			/* border: 100px solid #f00; */
	/* border-radius: 90%; */
	width: 250px;
	height: 300px;
	padding: 10px;
	margin: 100px 200px 0px 400px;
	/* border-color: #bed5ea; */
	/* background:radial-gradient(#f0f3f6, #0baeea);  */
	/* background-color: #b6dbf8; */
	/* color: #f0f3f6; */
	font-size: 20px;
	font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

 /* 戻るボタン **************************** */
 /* https://www.amuu-blog1265.com/topbutton-css/ */
#pagetop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    margin: 0;
		/* margin: 5px 10px 0px 400px; */
}
#pagetop a{
    position: relative;
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    background: #d4d410 ;/*背景の色を変える*/
    transition: opacity .6s ease;
    color: #FFFFFF;/*アイコンの色を変える*/
    align-items: center;
    text-decoration: none;
    font-size: 32px;
    border-radius: 30%;
}
#pagetop a:hover {
	background: #FFA500 ;/*背景の色を変える*/
	transition: opacity 5.6s ease;
    /* opacity: .3; */
}
@media screen and (max-width:767px) {
#pagetop a {
    width: 50px;
    height: 50px;
}
}
 
 /* 戻るボタン 以上 **************************** */