#tool {
   /* ★疑問 角丸変更できない */
   border-style: solid;
   border-width: 2px;
       /* border: 100px solid #f00; */
   /* border-radius: 90%; */
   width: 100%;
   height: 800px;
   padding: 10px 80px 10px 80px;
   margin: 5px;
   border-color: #bed5ea;
   background-color: #e82a08;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO; 
   display: flex;   
}

#circle {
   display: flex;
}

#circleFlash {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 50px;
   height: 50px;
   margin: 15px;
   border-color: #bed5ea;
   background-color: #19a5e6;
}

#circle1 {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 20px;
   height: 20px;
   margin: 15px 5px 5px 5px;
   border-color: #bed5ea;
   background-color: #0a0909;
}

#circle2 {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 20px;
   height: 20px;
   margin: 15px 5px 5px 5px;
   border-color: #bed5ea;
   background-color: #d8e33c;
}

#circle3 {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 20px;
   height: 20px;
   margin: 15px 5px 5px 5px;
   border-color: #bed5ea;
   background-color: #0a0909;
}

#pokePicInfomation {
   display: flex;
}

/* #infomation {
//
} */

#pokePic {
   /* ★疑問 角丸変更できない */
   border-style: solid;
   border-width: 2px;
       /* border: 100px solid #f00; */
   /* border-radius: 90%; */
   width: 300px;
   height: 370px;
   padding: 10px;
   margin: 5px;
   border-color: #bed5ea;
   background-color: #b6dbf8;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeImg {
   /* ★疑問 角丸変更できない */
   border-style: solid;
   border-width: 2px;
       /* border: 100px solid #f00; */
   /* border-radius: 90%; */
   width: 300px;
   /* height: 350px; */
   /* padding: 10px;
   margin: 5px;
   border-color: #bed5ea;
   background-color: #b6dbf8;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;     */
}


#pokeNameTitle {
   border-style: solid;
   border-width: 2px;
   width: 130px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #e8f8d3;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeName {
   border-style: solid;
   border-width: 2px;
   width: 300px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   margin-bottom: 15px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #e8f8d3;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeTypeTitle {
   border-style: solid;
   border-width: 2px;
   width: 130px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #e8f8d3;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeType {
   border-style: solid;
   border-width: 2px;
   width: 300px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   margin-bottom: 15px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #ebf0e4;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

.hight {
   display: flex;
}

#pokeHightTitle {
   border-style: solid;
   border-width: 2px;
   width: 130px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #e8f8d3;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeHight {
   border-style: solid;
   border-width: 2px;
   width: 138px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   margin-bottom: 15px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #ebf0e4;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

.weight {
   display: flex;
}

#pokeWeightTitle {
   border-style: solid;
   border-width: 2px;
   width: 130px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #e8f8d3;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeWeight {
   border-style: solid;
   border-width: 2px;
   width: 138px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #ebf0e4;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeExpTitle {
   border-style: solid;
   border-width: 2px;
   width: 150px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #96d4fb;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeExp {
   border-style: solid;
   border-width: 2px;
   width: 500px;
   height: 180px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #96d4fb;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

.hinge {
   border-style: solid;
   border-width: 2px;
       /* border: 100px solid #f00; */
   width: 20px;
   height: 790px;
   /* padding: 10px; */
   margin-left: 80px;
   margin-right: 80px;
   border-color: #bed5ea;
   background-color: #e82a08;    
}

#hinge1 {
   border-style: solid;
   border-width: 2px;
   width: 16px;
   height: 5px;
   /* color: rgb(250, 238, 238); */
   margin-top: 200px;
   border-color: #bed5ea;
   background-color: #e82a08;    
}

#hinge2 {
   border-style: solid;
   border-width: 2px;
   width: 16px;
   height: 5px;
   /* color: rgb(250, 238, 238); */
   margin-top: 400px;
   border-color: #bed5ea;
   background-color: #e82a08;    
}

#pokeSelect {
   border-style: solid;
   border-width: 2px;
   width: 400px;
   height: 70px;
   padding: 10px;
   margin-top: 90px;
   margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #eef1ea;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeSearch {
   border-style: solid;
   border-width: 2px;
   width: 80px;
   height: 70px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #ddfb96;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

.blueButtons1_5 {
   display: flex;
   margin-top: 20px;
}

.blueButtons6_10 {
   display: flex;
   margin-bottom: 20px;
}

.blueButton {
   border-style: solid;
   border-width: 2px;
   width: 80px;
   height: 70px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #96d4fb;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

/*表示するテキストが切り替わる*/
.btntextchange{
    /*テキストの基点とするためrelativeを指定*/
	position: relative;
    /*ボタンの形状*/
	/* border: 1px solid #555; */
   border-style: solid;
   border-width: 2px;
	border-radius:3px;
   border-color: #F0F8FF;
    min-width:70px;
   height: 60px;
   margin: 5px; 
	padding: 10px;
    text-align: center;
	display: inline-block;
    text-decoration: none;
    color: #5235c2;
    background-color: #96d4fb;
    outline: none;
    /*アニメーションの指定*/
    transition: all .1s;
}

/*hoverした際の変化*/
.btntextchange:hover{
  background:rgb(6, 46, 243);
  color:#fff;
}

.btntextchange span{
    /*絶対配置でテキストの位置を決める*/
	position: absolute;
	left: 50%;
	top:50%;
    transform:translate(-50%,-50%);
    /*アニメーションの指定*/
    transition: all .5s;
  /*ブロック要素にしてテキスト折り返しなし*/  
	display: block;
	white-space: nowrap;
}

/*差し替わるテキストの設定*/
.btntextchange span:nth-child(2){
	opacity:0;/*透過0に*/
}

/*hoverするとテキストが入れ替わる設定*/
.btntextchange:hover span:nth-child(1){
	opacity:0;/*透過0に*/
}

.btntextchange:hover span:nth-child(2){
	opacity:1;/*不透明に*/
}

.ball{
   border-radius: 50%;
   margin: 0 auto;
}

.move{
   animation: ballMove 8s;
   /* 最後停止ならばforwardsつける */
}

@keyframes ballMove {
   0%{
      transform: translate(0, 0);
   }
   5%{
      transform: translate(0, 80px);
   }
   10%{
      transform: translate(0, 0);
   }
   15%{
      transform: translate(0, 80px);
   }
   20%{
      transform: translate(0, 0);
   }
   25%{
      transform: translate(0, 80px);
   }
   30%{
      transform: translate(0, 0);
   }
   35%{
      transform: translate(0, 80px);
   }
   40%{
      transform: translate(80px, 180px);
   }
   45%{
      transform: translate(-80px, -180px);
      /* width: 50%;
      height: 35%; */
   }


}



