#tool {
   /* ★疑問 角丸変更できない */
   border-style: solid;
   border-width: 2px;
       /* border: 100px solid #f00; */
   /* border-radius: 90%; */
   width: 100%;
   height: 800px;
   padding: 10px;
   margin: 5px;
   border-color: #bed5ea;
   background-color: #e82a08;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO; 
   display: flex;   
}

#circle {
   display: flex;
}

#circleFlash {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 50px;
   height: 50px;
   margin: 15px;
   border-color: #bed5ea;
   background-color: #19a5e6;
}

#circle1 {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 20px;
   height: 20px;
   margin: 15px 5px 5px 5px;
   border-color: #bed5ea;
   background-color: #0a0909;
}

#circle2 {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 20px;
   height: 20px;
   margin: 15px 5px 5px 5px;
   border-color: #bed5ea;
   background-color: #d8e33c;
}

#circle3 {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 20px;
   height: 20px;
   margin: 15px 5px 5px 5px;
   border-color: #bed5ea;
   background-color: #0a0909;
}

#pokePicInfomation {
   display: flex;
}

/* #infomation {
//
} */

#pokePic {
   /* ★疑問 角丸変更できない */
   border-style: solid;
   border-width: 2px;
       /* border: 100px solid #f00; */
   /* border-radius: 90%; */
   width: 300px;
   height: 370px;
   padding: 10px;
   margin: 5px;
   border-color: #bed5ea;
   background-color: #b6dbf8;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeImg {
   /* ★疑問 角丸変更できない */
   border-style: solid;
   border-width: 2px;
       /* border: 100px solid #f00; */
   /* border-radius: 90%; */
   width: 300px;
   /* height: 350px; */
   /* padding: 10px;
   margin: 5px;
   border-color: #bed5ea;
   background-color: #b6dbf8;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;     */
}


#pokeNameTitle {
   border-style: solid;
   border-width: 2px;
   width: 150px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #e8f8d3;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeName {
   border-style: solid;
   border-width: 2px;
   width: 300px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #e8f8d3;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeTypeTitle {
   border-style: solid;
   border-width: 2px;
   width: 150px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #e8f8d3;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeType {
   border-style: solid;
   border-width: 2px;
   width: 300px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #ebf0e4;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeHightTitle {
   border-style: solid;
   border-width: 2px;
   width: 150px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #e8f8d3;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeHight {
   border-style: solid;
   border-width: 2px;
   width: 300px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #ebf0e4;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeWeightTitle {
   border-style: solid;
   border-width: 2px;
   width: 150px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #e8f8d3;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeWeight {
   border-style: solid;
   border-width: 2px;
   width: 300px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #ebf0e4;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeExpTitle {
   border-style: solid;
   border-width: 2px;
   width: 150px;
   height: 30px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #96d4fb;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

#pokeExp {
   border-style: solid;
   border-width: 2px;
   width: 500px;
   height: 300px;
   padding: 10px;
   margin: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #96d4fb;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}

.hinge {
   border-style: solid;
   border-width: 2px;
       /* border: 100px solid #f00; */
   width: 20px;
   height: 790px;
   /* padding: 10px; */
   margin-left: 10px;
   margin-right: 10px;
   border-color: #bed5ea;
   background-color: #e82a08;    
}

#hinge1 {
   border-style: solid;
   border-width: 2px;
   width: 16px;
   height: 5px;
   /* color: rgb(250, 238, 238); */
   margin-top: 200px;
   border-color: #bed5ea;
   background-color: #e82a08;    
}

#hinge2 {
   border-style: solid;
   border-width: 2px;
   width: 16px;
   height: 5px;
   /* color: rgb(250, 238, 238); */
   margin-top: 400px;
   border-color: #bed5ea;
   background-color: #e82a08;    
}

#pokeSelect {
   border-style: solid;
   border-width: 2px;
   width: 400px;
   height: 70px;
   padding: 10px;
   margin-top: 90px;
   margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 5px;
   border: 1px solid #f00;
   border-radius: 3px;
   border-color: #F0F8FF;
   background-color: #eef1ea;
   color: #5235c2;
   font-size: 20px;
   font-family: HG丸ｺﾞｼｯｸM-PRO;    
}





/* 

#circle {
   display: flex;
}

#circleFlash {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 50px;
   height: 50px;
   margin: 15px;
   border-color: #bed5ea;
   background-color: #19a5e6;
}

#circle1 {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 20px;
   height: 20px;
   margin: 15px 5px 5px 5px;
   border-color: #bed5ea;
   background-color: #0a0909;
}

#circle2 {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 20px;
   height: 20px;
   margin: 15px 5px 5px 5px;
   border-color: #bed5ea;
   background-color: #d8e33c;
}

#circle3 {
   border-style: solid;
   border-width: 2px;
   border-radius: 90%;
   width: 20px;
   height: 20px;
   margin: 15px 5px 5px 5px;
   border-color: #bed5ea;
   background-color: #0a0909;
} */

